.main{
    display: flex;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center
}

.container {
    display: flex;
    background-color: hsl(225, 100%, 98%); 
    height: 70%; width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom:30px;
}
   
.content{
    display: flex;
    height: 70%;
    width: 30%;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    
    


}
.sub-content {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(250, 245, 245, 0.438);
    padding:20px;
    text-align: center;
    height: 50px;
    justify-content: space-around;
}