body {
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex; 
    justify-content: center; 
    align-items: center;
    
}
.main {
    border-radius: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: hsl(244, 38%, 16%);
}

.child1 { 
    padding: 40px;
}
.child2 { 

    background-color:  hsl(277, 64%, 61%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height:fit-content; 
   
}

.stats {
    display: flex; 
    justify-content: space-around;
    width: 100% ; 
    height: auto;
      
}
.stats1 {
    color: hsl(0, 0%, 100%);
}
 
.stats2 {
    color:hsla(0, 0%, 100%, 0.6);
}
@media (max-width: 800px) {
    .main {
      flex-direction: column-reverse;
    }
    .stats {
     flex-direction: column;
    }
    img {
      width: 90vw;
    }
  }
 
  